*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--yrh-font);
  font-size: var(--yrh-font-size-md);
  color: var(--yrh-text-color);
  background-color: var(--yrh-bg-color);
  letter-spacing: var(--yrh-letter-spacing);
}

button {
  cursor: pointer;
  border: none;
}
