/* Refer to https://www.platinumgames.com/official-blog/article/9624 */
:root {
  /* === Palette === */
  --yrh-color-white: #f0f0f0;
  --yrh-color-black: #575757;

  /* === Main Theme === */
  --yrh-color-primary: #cdc8b0;
  --yrh-color-primary-light: #dad4bb;
  --yrh-color-secondary-light: #b4af9a;
  --yrh-color-primary-dark: #4e4b42;
  --yrh-color-secondary-dark: #635f54;

  /* === Background === */
  --yrh-bg-color: var(--yrh-color-primary); /* primary background */
  --yrh-bg-color-light: var(--yrh-color-primary-light);
  --yrh-bg-color-dark: var(--yrh-color-primary-dark);
  --yrh-bg-color-dark-secondary: var(--yrh-color-secondary-dark);

  /* === Text color === */
  --yrh-text-color: var(--yrh-color-primary-dark);
  --yrh-text-color-light: var(--yrh-color-primary-light);
  --yrh-text-shadow: #aca999;

  /* === Button === */
  --yrh-btn-bg: var(--yrh-color-secondary-light);
  --yrh-btn-bg-active: var(--yrh-bg-color-dark);
  --yrh-border-color: #6b6652;

  /* === Font === */
  /**
   * 'myriad-pro' is the default font for Nier: Automata,
   * Due to its commercial licensing (Adobe),
   * I use 'source sans 3' as an alternative.
   */
  --yrh-font: "Source Sans 3", "YuGothic", "游ゴシック体", "Yu Gothic", "游ゴシック", Arial, sans-serif;
  --yrh-font-size-sm: .875rem;
  --yrh-font-size-md: 1rem;
  --yrh-font-size-lg: 1.125rem;

  /* === Spacing === */
  --yrh-letter-spacing: .04em;
  --yrh-spacing-xs: 4px;
  --yrh-spacing-sm: 8px;
  --yrh-spacing-md: 12px;
  --yrh-spacing-lg: 20px;
  --yrh-spacing-xl: 28px;
}

